<!DOCTYPE html>

<html lang="en" dir="ltr">

	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- BOOTSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <!-- VUE -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- LUXON -->
        <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
        <!-- CUSTOM STYLESHEETS -->
        <!-- STYLE -->
        <link rel="stylesheet" href="css/style.css">
        <!-- COMMON -->
        <link rel="stylesheet" href="css/common.css">
        <!-- RESPONSIVE -->
        <link rel="stylesheet" href="css/responsive.css">
        <!-- ICONS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<title> Boolzapp </title>
	</head>

    <body>
        <!-- APP -->
        <div id="app">
        <!-- WEB APP CONTAINER -->
        <div class="wrapper">
            <!-- app -->
            <div class="app">
                <!-- LEFT COLUMN -->
                <div class="left-col disappear-320">
                    <!-- HEADER -->
                    <header class="left header">
                        <div class="left nav">
                            <div class="img-container"> <img src="img/avatar_io.jpg"> </div>
                            <div class="flex-ul disappear-540">
                                <li><div class="icon-container"><i class="fa-solid fa-c fa-rotate-270"></i></div></li>
                                <li><div class="icon-container"><i class="fa-solid fa-message"></i></div></li>
                                <li><div class="icon-container"><i class="fa-solid fa-ellipsis-vertical"></i></div></li>
                            </div>
                        </div>
                    </header>

                    <!-- MAIN -->
                    <main class="left main">
                        <div class="notifications disappear-540">
                            <div class="icon-container"> <i class="fa-solid fa-bell-slash"></i> </div>
                                <div class="text-container">
                                    <h4>Notifications</h4>
                                    <p>Enable notifications</p>
                                </div>
                        </div>

                        <!-- FORM -->
                        <div class="left form disappear-540">
                            <label for="search-bar"><div class="icon-container"> <i class="fa-solid fa-magnifying-glass"></i> </div></label>
                            <input type="text" v-model="searchText" id="search-bar" placeholder="Search..." @keyup="searchContact" />
                        </div>
                        <!-- LIST OF CONTACTS -->
                        <div class="contacts-list">
                            <!-- CONTACT -->
                            <div class="contact" v-for="(contact, index) in contacts" v-show="contact.visible" :key="contact.name"  @click="setActiveContact(index)">
                                <div class="img-container">  <img :src="getAvatar(index)" alt=""> </div>
                                <div class="first-line disappear-540">
                                    <h5>{{contact.name}} <span class="position-relative top-0 start-50">{{getLastMessage(index).date}}</span> </h5>
                                    <p>{{getLastMessage(index).message}}</p>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
                
                <!-- RIGHT COLUMN -->
                <div class="right-col">
                    <!-- HEADER -->
                    <header class="right header">
                        <!-- NAV -->
                        <div class="right nav">
                            <div class="image-and-text">
                                <div class="img-container"> <img :src="getAvatar(curContactIndex)" alt=""> </div>
                                <div class="text-container">
                                    <h4>{{contacts[curContactIndex].name}}</h4>
                                    <p>{{getLastMessage(curContactIndex).date}}</p>
                                </div>
                            </div>
                            <!-- LIST -->
                            <div class="flex-ul disappear-320">
                                <li class="icon-container"> <i class="fa-solid fa-magnifying-glass"></i></li>
                                <li class="icon-container"> <i class="fa-solid fa-paperclip"></i> </li>
                                <li class="icon-container"> <i class="fa-solid fa-ellipsis-vertical"></i> </li>
                            </div>
                        </div>

                    </header>

                    <!-- MAIN -->
                    <main class="right main">
                        <!-- CHAT -->
                        <div class="chat">
                            
                                <div class="message-container" v-for="(msg, indexMessage) in contacts[curContactIndex].messages" :key="msg.date" :class="msg.status">
                                    <div class="message">
                                        <div class="message-body d-flex">
                                            <div class="message-text">
                                                <div>{{ msg.message }}</div>
                                                <p>{{ msg.date }}</p>
                                            </div>
                                            <div class="message-more position-relative">
                                                <div class="message-options">
                                                    <div class="hover-box">
                                                        <button>Options</button>
                                                        <button @click="deleteMessage(curContactIndex, indexMessage, msg.status)">Delete</button>
                                                    </div>
                                                    <i class="fa-solid fa-angle-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                            
                                        
                                    </div>
                                </div>
                            
                        </div>
                    </main>

                    <!-- FOOTER -->
                    <footer class="footer">
                        <div class="right form disappear-540">
                            <div class="icon-container disappear-320"> <i class="fa-regular fa-face-smile"></i> </div>
                            <input type="text" v-model="newMessage.message" :key="newMessage.date" @keyup.enter="sendMessage(curContactIndex)"/>
                            <!-- <div class="icon-container disappear-320 audio-message"> <i class="fa-solid fa-microphone"></i> </div> -->
                            <label for="key" @click="sendMessage(curContactIndex)" class="icon-container disappear-320"> <i class="fa-solid fa-paper-plane"></i> </label>
                        </div>
                    </footer>
                        
                    </main>
                </div>
                
            </div>
        </div>
        <script src="js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
        </div>
    </body>
</html>